{% extends 'base.html' %}   

{% block title %}{{title}}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<header class="p-3 bg-dark text-white">
        <div class="container ">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                <li><a href="{% url 'home'%}" class="nav-link px-2 text-secondary">Домашняя</a></li>
                                <li><a href="{% url 'create'%}" class="nav-link px-2 text-white">Добавить место</a></li>
                        </ul>
                        <div class="text-end nav col-12 col-lg-auto px-2">
                                <button class="btn btn-outline-danger" onclick="window.location.href='accounts/logout'">Выйти</button>
                                <!-- <button class="btn btn-outline-danger"><a href="accounts/logout">Выйти</a></button> -->
                                <div class="personal_information nav-link px-2 text-secondary">{{user.first_name}} {{user.last_name}}</div>
                        </div>
                        <img class="avatar" width="70" height="70" src='{{ user.socialaccount_set.all.0.get_avatar_url }}'>
                </div>
        </div>
</header>

{% endif %} 
<body class="container text-center text-white bg-dark" >
    {% if request.user.is_authenticated %}
                <div class="container">
                        <form method="POST">
                                {% csrf_token %}
                                <div class="formDescription"><h1>Измените ваше воспоминание</h1></div>
                                <input type="text" name="name" value="{{place.name}}" class="form-control" placeholder="Введите название места"/>
                                <textarea name="comment" class="form-control" placeholder="Добавьте описание">{{place.comment}}</textarea>
                                <input type="text" name="latitude" value="{{place.latitude}}" id="id_latitude" class="lnlg"/>
                                <input type="text" name="longitude" value="{{place.longitude}}" id="id_longitude" class="lnlg"/>
                                <div id="map"></div>
                                <button class="btn btn-success m-3" type="submit">Сохранить</button>
                        </form>
                </div>
        {% endif %}
        <script>
            function updateCoordinates(lat, lng) {
                document.getElementById('id_latitude').value = lat;
                document.getElementById('id_longitude').value = lng;
              }
              
              function initMap() {
                var map, marker;
                var myLatlng = {
                  lat: 56.00435778741845, 
                  lng: 92.76696590524162
                };
            
                if (String(document.getElementById('id_latitude').value).length == 0){
                  document.getElementById('id_latitude').value = myLatlng.lat;
                  document.getElementById('id_longitude').value = myLatlng.lng;
                }
            
                else{
                  myLatlng.lat = parseFloat(String(document.getElementById('id_latitude').value).replace(',','.'));
                  myLatlng.lng = parseFloat(String(document.getElementById('id_longitude').value).replace(',','.'));
                }
            
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 10,
                  center: myLatlng
                });
                
                marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  draggable: true
                });
              
                marker.addListener('dragend', function(e) {
                  var position = marker.getPosition();
                  updateCoordinates(position.lat(), position.lng())
                });
              
                map.addListener('click', function(e) {
                  marker.setPosition(e.latLng);
                  updateCoordinates(e.latLng.lat(), e.latLng.lng())
                });
              
                map.panTo(myLatlng);
              }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD7-SfT4geESAZnvD5dUfJEmRJAcyXGRY&libraries=places&callback=initMap" type="text/javascript" async defer></script>
</body>
{% endblock %}  

        