{% extends 'base.html' %}   
{% load socialaccount%}
{% providers_media_js %}

{% block title %}{{title}}{% endblock %}

{% block content %}

        {% if request.user.is_authenticated %}
                <header class="p-3 bg-dark text-white">
                        <div class="container ">
                                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                                                <li><a href="{% url 'home'%}" class="nav-link px-2 text-secondary">Домашняя</a></li>
                                                <li><a href="{% url 'create'%}" class="nav-link px-2 text-white">Добавить место</a></li>
                                        </ul>
                                        <div class="text-end nav col-12 col-lg-auto px-2">
                                                <button class="btn btn-outline-danger" onclick="window.location.href='accounts/logout'">Выйти</button>
                                                <!-- <button class="btn btn-outline-danger"><a href="accounts/logout">Выйти</a></button> -->
                                                <div class="personal_information nav-link px-2 text-secondary">{{user.first_name}} {{user.last_name}}</div>
                                        </div>
                                        <img class="avatar" width="70" height="70" src='{{ user.socialaccount_set.all.0.get_avatar_url }}'>
                                </div>
                        </div>
                </header>
                
        {% endif %} 
        {% if places %} 
        <div class="container ">
                {% for p in places %}
                <div class="card m-3">
                        <div class="card-body">
                        
                                <h5 class="card-title">{{ p.name }}</h5>
                                <p class="card-text">{{ p.comment }}</p>
                                <a href="{{ p.id }}/details" class="btn btn-primary">Перейти</a>
                                <a href="{{ p.id }}/edit" class="btn btn-primary">Изменить</a>
                        </div>
                </div>
                {% endfor %}
        </div>
        {% else %}
        <div class="container ">
                <div class="card m-3">
                        <div class="card-body">
                        
                                <h5 class="card-title">У вас нет ни одного места</h5>
                                <a href="{% url 'create'%}" class="btn btn-primary">Добавить</a>
                        </div>
                </div>
        </div>
        {% endif %}

        
{% endblock %}
<!-- <div class="container alert alert-warning mt-2">
                        <h3>{{ p.name }}</h3>
                        <h5>{{ p.comment }}</h3>
                </div> -->
<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->